# Dependencies
/node_modules
/.pnp
.pnp.js

# Build outputs
/dist
/tmp
/out-tsc
/bazel-out

# Cache
/.angular/cache
.eslintcache

# IDE
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

# Misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
*.log

# System files
.DS_Store
Thumbs.db

# Nix
/result
.direnv/
