<form
  color="Primary"
  class="picker"
  (ngSubmit)="onSubmit()"
  mat-card
  fxLayout="row wrap"
  fxLayoutAlign="center center"
>
  <!-- <mat-progress-bar mode="buffer"></mat-progress-bar> -->

  <mat-label fxFlex="85%">Vali Suurus</mat-label>
  <mat-slider
    fxFlex="85%"
    [displayWith]="formatLabel"
    thumbLabel
    name="sizex"
    [value]="sizex"
    [(ngModel)]="sizex"
    tickInterval="2"
    step="50"
    min="50"
    max="2000"
    aria-label="units"
  ></mat-slider>
  <mat-label fxFlex="85%">{{ this.sizex }} X {{ this.sizey }} mm </mat-label>
  <mat-slider
    fxFlex="85%"
    [displayWith]="formatLabel"
    thumbLabel
    [value]="sizey"
    name="sizey"
    [(ngModel)]="sizey"
    tickInterval="2"
    step="50"
    min="50"
    max="2000"
    aria-label="units"
  ></mat-slider>

  <mat-form-field appearance="fill" fxFlex="85%">
    <mat-label>Vali Tüüp</mat-label>
    <mat-select
      name="typeSquare"
      id="typeSquare"
      [(ngModel)]="typeSquare"
      (ngModelChange)="typeChage(typeSquare)"
    >
      <mat-option *ngFor="let typeSquare of types" [value]="typeSquare">{{
        typeSquare
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <app-amount-button
    class="amount"
    fxFlex="70%"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="2%"
  ></app-amount-button>
</form>
