<form
  color="Primary"
  class="picker"
  (ngSubmit)="onSubmit()"
  mat-card
  fxLayout="row wrap"
  fxLayoutAlign="center center"
>
  <mat-form-field appearance="fill" fxFlex="85%">
    <mat-label>Vali Tüüp</mat-label>
    <mat-select
      name="roundType"
      id="roundType"
      [(ngModel)]="roundType"
      (ngModelChange)="getSizes(roundType)"
    >
      <mat-option
        *ngFor="let roundType of roundTypes; let i = index"
        [value]="roundType"
        >{{ capitalizeFirstLetter(roundType.name) }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" fxFlex="85%">
    <mat-label>Vali Suurus</mat-label>
    <mat-select name="roundSize" id="roundSize" [(ngModel)]="roundSize">
      <mat-option *ngFor="let roundSize of roundSizes" [value]="roundSize">{{
        roundSize
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <app-amount-button
    class="amount"
    fxFlex="70%"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="2%"
  ></app-amount-button>
</form>
