<form
  color="Primary"
  class="picker"
  (ngSubmit)="onSubmit()"
  mat-card
  fxLayout="row wrap"
  fxLayoutAlign="center center"
>
  <mat-form-field appearance="fill" fxFlex="85%">
    <mat-label>Vali Tüüp</mat-label>
    <mat-select
      name="machineType"
      id="machineType"
      [(ngModel)]="machineType"
      (ngModelChange)="getSizes()"
    >
      <mat-option
        *ngFor="let machineType of machineTypes; let i = index"
        [value]="machineType"
        >{{ capitalizeFirstLetter(machineType.name) }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" fxFlex="85%" *ngIf="displaySubType">
    <mat-label>Vali Alamtüüp</mat-label>
    <mat-select
      name="subType"
      id="subType"
      [(ngModel)]="subType"
      (ngModelChange)="typeChange(subType)"
    >
      <mat-option
        *ngFor="let subType of subTypes"
        [value]="subType"
        [innerHTML]="capitalizeFirstLetter(subType.name!)"
      ></mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" fxFlex="85%" *ngIf="displaySize">
    <mat-label>Vali Suurus</mat-label>
    <mat-select name="sizeMachine" id="sizeMachine" [(ngModel)]="sizeMachine">
      <mat-option
        *ngFor="let sizeMachine of sizesMachine"
        [value]="sizeMachine"
        [innerHTML]="sizeMachine"
      ></mat-option>
    </mat-select>
  </mat-form-field>
  <app-amount-button
    class="amount"
    fxFlex="70%"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="2%"
  ></app-amount-button>
  <button color="primary" mat-raised-button type="submit" fxFlex="50%">
    <mat-icon color="accent">done_outline</mat-icon>
  </button>
</form>
