<form
  color="Primary"
  class="picker"
  (ngSubmit)="onSubmit()"
  mat-card
  fxLayout="row wrap"
  fxLayoutAlign="center center"
>
  <mat-form-field appearance="fill" fxFlex="85%">
    <mat-label>Vali Tüüp</mat-label>
    <mat-select
      name="machineType"
      id="machineType"
      [(ngModel)]="machineType"
      (ngModelChange)="getSizes()"
    >
      <mat-option
        *ngFor="let machineType of machineTypes; let i = index"
        [value]="machineType"
        >{{ capitalizeFirstLetter(machineType.name) }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" fxFlex="85%" *ngIf="displaySubType">
    <mat-label>Vali Alamtüüp</mat-label>
    <mat-select name="subType" id="subType" [(ngModel)]="subType">
      <mat-option
        *ngFor="let subType of subTypes"
        [value]="subType"
        [innerHTML]="capitalizeFirstLetter(subType.name!)"
      ></mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" fxFlex="85%" *ngIf="displaySize">
    <mat-label>Vali Suurus</mat-label>
    <mat-select name="sizeMachine" id="sizeMachine" [(ngModel)]="sizeMachine">
      <mat-option
        *ngFor="let sizeMachine of sizesMachine"
        [value]="sizeMachine"
        [innerHTML]="sizeMachine"
      ></mat-option>
    </mat-select>
  </mat-form-field>
  <div
    class="amount"
    fxFlex="70%"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="2%"
  >
    <button
      color="primary"
      type="button"
      class="icon-display"
      mat-fab
      (click)="reduceCount()"
    >
      <mat-icon>remove</mat-icon>
    </button>
    <!-- <mat-icon class="icon-display" fxFlex>remove</mat-icon> -->
    <mat-form-field fxFlex="80%">
      <mat-label>Kogus</mat-label>
      <input
        autocomplete="off"
        matInput
        name="amount"
        id="amount"
        [(ngModel)]="amount"
        type="number"
        min="0"
        [value]="amount"
      />
      <span matSuffix color="primary">TK</span>
    </mat-form-field>
    <button
      color="primary"
      type="button"
      class="icon-display"
      mat-fab
      (click)="addCount()"
    >
      <mat-icon>add</mat-icon>
    </button>
    <!-- <mat-icon class="icon-display" fxFlex>add</mat-icon> -->
  </div>
  <button color="primary" mat-raised-button type="submit" fxFlex="50%">
    <mat-icon color="accent">done_outline</mat-icon>
  </button>
</form>
