@import "themes";

html {
  min-height: 100vh;
  min-width: 100vw;
}

body {
  margin: 0;
}

.container {
  //   //border: 1px solid steelblue;
  //   //padding: 10px;
  //   //border-radius: 5px;
  min-width: 600px;
  min-height: 100vh;
  //   display: flex;
  //   justify-content: center;
}
