@import "themes";

html {
  // min-height: 100vh;
  // min-width: 100vw;
}

body {
  margin: 0;
}

.container {
  //   //border: 1px solid steelblue;
  //   //padding: 10px;
  //   //border-radius: 5px;
  min-width: 500px;
  min-height: 100vh;
  //   display: flex;
  //   justify-content: center;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
