<mat-card fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card-header fxFlex="60%">
    <div mat-card-avatar class="avatar"></div>
    <mat-card-title>Ventilation Tool</mat-card-title>
    <mat-card-subtitle>TES Materjali Arvutaja</mat-card-subtitle>
  </mat-card-header>
  <nav mat-tab-nav-bar fxFlex="95%">
    <a
      mat-tab-link
      *ngFor="let cat of cats"
      (click)="activeLink = cat.link"
      [active]="activeLink == cat.link"
      [routerLink]="cat.link"
    >
      {{ cat.name }}
    </a>
  </nav>
  <div fxFlex="100%">
    <br />
  </div>

  <router-outlet fxFlex="80%"></router-outlet>
  <!-- <app-round-part fxFlex="80%"></app-round-part> -->

  <mat-card-footer fxFlex="100%">
    <mat-progress-bar mode="buffer"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
