<mat-card fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card-header fxFlex="60%">
    <div mat-card-avatar class="avatar"></div>
    <mat-card-title>Ventilation Tool</mat-card-title>
    <mat-card-subtitle>TES Materjali Arvutaja</mat-card-subtitle>
  </mat-card-header>
  <!-- <div fxFlex="20%"></div> -->
  <form
    [formGroup]="nameDate"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
  >
    <mat-form-field fxFlex="70%" class="example-full-width" appearance="fill">
      <mat-label>Nimi</mat-label>
      <input
        matInput
        placeholder="Ex. John"
        [formControl]="name"
        formControlName="name"
        (input)="saveName()"
      />
    </mat-form-field>
    <mat-form-field fxFlex="70%" class="example-full-width" appearance="fill">
      <mat-label>Vali Kuupäev</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [formControl]="date"
        formControlName="date"
        (dateChange)="saveDate(); saveName()"
      />
      <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>
  </form>
  <p>Form Status: {{ nameDate.status }}</p>
  <!-- <p>Selected date: {{ date.value | json }}</p>
  <p>Selected Name: {{ name.value | json }}</p> -->

  <nav mat-tab-nav-bar fxFlex="120%">
    <a
      mat-tab-link
      *ngFor="let cat of cats"
      (click)="activeLink = cat.link"
      [active]="activeLink == cat.link"
      [routerLink]="cat.link"
    >
      {{ cat.name }}
    </a>
  </nav>
  <div fxFlex="100%">
    <br />
  </div>

  <router-outlet fxFlex="100%"></router-outlet>
  <!-- <app-round-part fxFlex="80%"></app-round-part> -->

  <mat-card-footer fxFlex="100%">
    <mat-progress-bar mode="buffer"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
