// table {
//   width: 100%;
// }

// .flex-container {
//   align-items: flex-start;
//   flex-flow: row wrap;
//   display: flex;
//   flex: 1 1 100%;
//   max-width: 100%;
// }

// .flex-container > * {
//   flex: 1 1 70%;
//   max-width: 100%;
// }

.chosen-components-container {
  min-width: 25em;
  max-width: 45em;
}

.duration-box {
  margin: 5px;
  // margin-left: 5%;
  //position: absolute;
}
p {
  font-size: 1.4em;
  text-align: center;
}

button.icon-display {
  position: relative;
  margin: 0 20px;
}
