// table {
//   width: 100%;
// }

// .flex-container {
//   align-items: flex-start;
//   flex-flow: row wrap;
//   display: flex;
//   flex: 1 1 100%;
//   max-width: 100%;
// }

// .flex-container > * {
//   flex: 1 1 70%;
//   max-width: 100%;
// }

.mat-column-sizeString {
  font-style: italic;
  padding-right: 0.5rem;
  font-size: 0.8rem;
  width: 1rem;
  white-space: nowrap;
  text-align: start;
}
.mat-column-type {
  text-align: center;
  font-size: 1rem;
}
.mat-column-amount {
  width: 0.3rem;
  font-size: 0.8rem;
  font-style: italic;

  text-align: center;
}
.mat-column-timeString {
  text-align: end;
  font-size: 1rem;
  white-space: nowrap;
}
.chosen-components-container {
  font-size: 1rem;
  min-width: 20em;
  max-width: 50em;
}

.duration-box {
  margin: 5px;
  // margin-left: 5%;
  //position: absolute;
}
p {
  font-size: 1.4em;
  text-align: center;
}

button.icon-display {
  position: relative;
  margin: 0 20px;
}
