<div
  fxLayout="row wrap"
  fxLayoutAlign="center center"
  class="chosen-components-container"
>
  <div fxFlex="100%">
    <app-choose-part></app-choose-part>
  </div>
  <div *ngIf="showTable()" class="duration-box" fxFlex="100%">
    <mat-divider></mat-divider>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <p class="themed-accent">
        {{ calculation() | duration }}
      </p>
      <button
        (click)="onMerge()"
        mat-mini-fab
        color="primary"
        aria-label="Delete button"
        class="del-button"
      >
        <span class="material-icons">merge_type</span>
      </button>
      <button
        (click)="onDelete()"
        mat-mini-fab
        color="warn"
        aria-label="Delete button"
        class="del-button"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>

    <mat-divider></mat-divider>
  </div>

  <table
    cdkDropList
    (cdkDropListDropped)="onDrop($event)"
    fxFlex="100%"
    *ngIf="showTable()"
    mat-table
    [dataSource]="myDataSource"
    class="mat-elevation-z8"
    droppable
    dragable
  >
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="sizeString">
      <th mat-header-cell *matHeaderCellDef>Suurus</th>
      <td
        mat-cell
        *matCellDef="let element"
        [innerHTML]="element.sizeString"
      ></td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Osa tüüp</th>
      <td mat-cell *matCellDef="let element" [innerHTML]="element.type"></td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Kogus</th>
      <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="timeString">
      <th mat-header-cell *matHeaderCellDef>TES Aeg</th>
      <td mat-cell *matCellDef="let element; let i = index">
        {{ element.timeString }}
        <button
          hover-class="mat-warn"
          mat-icon-button
          matRipple
          [color]="primary"
          aria-label="Example icon button with a home icon"
          (click)="removeRow(i)"
        >
          <mat-icon>highlight_off</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      cdkDrag
      mat-row
      *matRowDef="let row; columns: displayedColumns; let i = index"
      hover-class="testing"
    ></tr>
  </table>
</div>
